@import
url('https://fonts.googleapis.com/css?family=Raleway:800');

/*color scheme: 283347, 2B85D3, 1F9D94, E4D9CC, E65B4A*/
/*color scheme: 87bcde, 55d1a3, 4e4d5c, 2d4654, 243b4a*/
  /*lightblue, mint, dark purple, dark teal, indigo*/


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 90%;
}

body {
  font: 14px/1 'Raleway', sans-serif;
  color: #FFFFFF;
  background: #2d4654;
  /*padding: 30% 0 30% 0;*/
  margin: 0 10px 10px 10px;
}

h1 {
  font-weight: 400;
  background-color: #243b4a;
  /*padding: 50px 0;*/
  padding: 10px 0 10px 0;
  margin: 0 0 10px 0;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  min-width: 100%;
  max-width: 100%;
  display: none;
  padding: 20px;
  /*order-top: 1px solid #ddd;*/
  background-color: #4e4d5c;
  height: 90%

}


/*div.button {
    font: 14px/1 'Raleway', sans-serif;
    color: #FFFFFF;
    background: #283347;
}*/

input[type="radio"] {
  display: none;
}

label {
    /*background-color: #243b4a;*/
    display: inline-block;
    /*margin: 0 0 3px;*/
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    border-top: 3px solid #243b4a;
    border-right: 3px solid #243b4a;
    border-left: 3px solid #243b4a;
}

/*label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;

}*/


label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }

label:hover {
  color: #AAAAAA;
  cursor: pointer;
}

input:checked + label {
    background-color: #4e4d5c;
    color: #55d1a3;
    /*border: 1px solid #ddd;*/
    border-top: 4px solid #55d1a3;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;

}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

form[enctype="multipart/form-data"]{
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}