{% extends 'appTemps/base.html' %}
{% block 'body' %}
{% load static %}
  <script src='{% static "person.js" %}'></script>

  <link rel="stylesheet" href="{% static "jquery-ui-1.12.1/jquery-ui.css"%}"/>
  <script src="{% static "jquery-ui-1.12.1/jquery-ui.js"%}" type="text/javascript"></script>
  <script src="{% static "comments.js"%}" type="text/javascript"></script>

<style>.draggable { cursor: pointer; float: right; clear: both; position: absolute; background-color: transparent; border: transparent}</style>


  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <div>
    <h2></h2>
    <p id="pInfo">{{ person }}</p>
    <div id="graph"></div>
  </div>

    <script>
        window.onload = function() {
            var myPlot = document.getElementById("graph");
            var midB = JSON.parse($("#pInfo").text());
            console.log(midB);
            var freqDist = midB["freqDist"];
            //console.log(freqDist);
            var layoutB = {
                "yaxis": {
                    "title": "<b>Word Count<\/b>"
                },
                "xaxis": {
                    "title": "<b>Most Common Words<\/b>"
                }
            };
            var graph = Plotly.newPlot(myPlot, [JSON.parse(freqDist)], layoutB);
        }
    </script>
{% endblock %}
